.reviews {
  &-list-wrap {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &-list {
    margin-bottom: 3rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, minmax(calc(50% - 20px), 1fr));
  }

  &-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 640px) {
  .reviews-list {
    grid-template-columns: 1fr;
  }
}
